:global(body) {
  background: #50e3c2;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.title {
  font-weight: 100;
  font-size: 48px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}
